@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';


#terminal-screen {
    width: 10%;
    height: 10%;
}

.terminal-open {
    animation: terminal-open-animation .3s ease-out forwards;
}

.font-ubuntu {
    font-family: "Ubuntu Sans";
}

/* Disabled scrollbar */
/* .terminal-scrollbar::-webkit-scrollbar {
  display: none;
}

.terminal-scrollbar {
  scrollbar-width: none;
} */

/* Dark theme Scrollbar */

/* Chrome, Edge, Safari */
.terminal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.terminal-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.terminal-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 999px;
}

.terminal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Firefox */
.terminal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}

/* Animations */

@keyframes terminal-open-animation {
    from {
        width: 10%;
        height: 10%;
    }

    to {
        width: 50%;
        height: 70%;
    }
}

